# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# Environment variables
.env
.env.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile.kaniko

# Documentation
README.md
oyvergitsin_dokumentation.md

# IDE
.vscode
.idea
*.swp
*.swo
